{
  "contact": [
    {
      "name": "",
      "position": {
        "ja": "",
        "ne": "",
        "en": ""
      },
      "specialty": {
        "ja": "",
        "ne": "",
        "en": ""
      },
      "way": {
        "tel": "",
        "email": ""
      }
    }
  ]
}
