{
  "name": "",
  "title": "",
  "og": {
    "title": "",
    "description": "",
    "image": "",
    "url": ""
  },
  "url": "",
  "social": {
    "github": {
      "url": ""
    },
  },
  "copyrighter": ""
}
